{% extends "base.html" %}
{% block title %}Add Product{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <h1>Add Product</h1>
        <form method="POST" action="{{ url_for('add_product') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}<br>
                {{ form.name(class="form-control", size=32) }}
            </div>
            <div class="form-group">
                {{ form.category_label.label }}<br>
                {{ form.category_label(class="form-control", size=32) }}
            </div>
            <div class="form-group">
                {{ form.description.label }}<br>
                {{ form.description(class="form-control", rows=5) }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
